body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #f8c600;
  font-size: 20px;
}

p {
  color: #c60000;
  font-weight: bold;
}

p:last-child {
  margin-bottom: 0;
}
    
h1,
h2,
h3,
h4 {
  color: #c60000;
  font-family: 'Staatliches', cursive;
}

.container {
background-color: rgba(200, 200, 200, 0.1);
border-radius: 2px;
width: 80%;
}

.choice {
  border: 2px solid #c60000;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}

.choice:hover {
  background-color: rgba(200, 15, 15, 0.3)!important;
}

.jumbotron {
  background-color: transparent;
  color: #c60000;
  font-weight: bold;
  margin-top: -5%;
}

.btn {
  color: #f8c600;
  font-weight: bold;
  background-color: #c60000;
  border-color: #f8c600;
  border-radius: 2px;
}

.btn:hover {
  color: #c60000!important;
  background-color: #f8c600!important;
  border-color: #c60000!important;
}

.links {
  font-family: 'Staatliches', cursive;
  margin-left: 2%;
}

.links a:hover {
  color: #c60000!important;
  text-decoration: none;
}

#time {
  font-family: 'Staatliches', cursive;
  margin-top: 20px;
}