body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
.container {
  width: 80%;
}

a {
  color: #f8c600;
  font-size: 20px;
}
  
p {
  color: #c60000;
  font-weight: bold;
}
    
p:last-child {
  margin-bottom: 0;
}
    
h1,
h2,
h3,
h4 {
  color: #c60000;
  font-family: 'Staatliches', cursive;
}

.choice {
  border: 2px solid #c60000;
  padding: 10px;
  cursor: pointer;
}

.jumbotron {
  background-color: transparent;
  color: #f8c600;
  font-weight: bold;
  margin-top: -5%;
}

.btn {
  color: #f8c600;
  font-weight: bold;
  background-color: #c60000;
  border-color: #c60000;
  border-radius: 0px;
}

.links {
  font-family: 'Staatliches', cursive;
  margin-left: 2%;
}

#time {
  font-family: 'Staatliches', cursive;
}